<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.wendal.nutzbook" >

    <permission android:name="net.wendal.nutzbook.permission.MIPUSH_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="net.wendal.nutzbook.permission.MIPUSH_RECEIVE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="com.xiaomi.market.sdk.UPDATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activity.LaunchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launch" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FitsStatusBar" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.QrCodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/open_qrcode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NewTopicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/new_topic"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.MarkdownPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/markdown_preview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UserDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/user_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NotificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ModifyTopicSignActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/modify_topic_sign"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FitsStatusBar" />
        <activity
            android:name=".ui.activity.LicenseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/open_source_license"
            android:screenOrientation="portrait" />

        <!-- xiaomi push -->
        <service
            android:enabled="true"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.XMPushService"/>
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
        <service android:enabled="true"
            android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:exported="true"
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="false"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:exported="true"
            android:name="net.wendal.nutzbook.util.XmPushMessageReceiver">
            <!--这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名-->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.TopicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/topic"
            android:screenOrientation="portrait" />

        <receiver android:name="com.xiaomi.market.sdk.DownloadCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
